@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recipe Book</h1>
    <img src="images/recipe-book.svg" style="width: 256px; height: 256px"/>
</div>
