@page
@model Ingredients.IndexModel
@{
    ViewData["Title"] = "Ingredients List";
}
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Ingredients List</h2>
    </div>
    <div class="col-3">
        <a asp-page="CreateIngredient" class="btn btn-info form-control text-white">New Ingredient</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Ingredients.Count > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th colspan="2">
                            @Html.DisplayNameFor(m => m.Ingredients.First().Name)
                        </th>
                    </tr>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => ingredient.Name)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@ingredient.Id" onclick="return confirm('Are you sure you want to delete ingredient?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="EditIngredient" asp-route-id="@ingredient.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No ingredients available.</p>
            }
        </form>
    </div>
</div>